#!/bin/bash
set -euxo pipefail

{{ if eq .chezmoi.os "darwin" }}
if ! command -v brew &>/dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install neovim mise thefuck gpg tmux jq

{{ else }}
sudo pacman -Syu
sudo pacman --verbose -Syu neovim tmux jq curl git mise
{{ end }}


if [ ! -d "$HOME/.oh-my-zsh" ]; then
    RUNZSH=no sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

if ! fc-list | grep -qi "JetBrains Mono" 2>/dev/null; then
    echo "Note: Install JetBrains Mono Font manually from https://www.nerdfonts.com/font-downloads"
fi
